<!DOCTYPE html>
<html lang="en"  ng-app="TopSingers">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Singers</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/angular.min.js" defer></script>
    <script type="text/javascript" src="js/app.js" defer></script>
</head>
<body ng-controller="TopSingersController"> 
    <main>
        <div class="top-area">
            <span class="top-size">See the</span>
            <button  ng-click="MaleOrFemale = 'male'">Male</button>
            <button  ng-click="MaleOrFemale = 'female'">Female</button>
            <span class="top-size">Singers</span>
        </div>
        <table class="styled-table">
            <tr ng-repeat="singer in singers" ng-if="singer.gender == MaleOrFemale">
                <td><img class="singer-pic" src="{{singer.img}}" alt=""></td>
                <td class="name-size">{{singer.name}}</td>
                <td><img src="{{singer.quality}}" class="quality-icon" alt=""></td>
            </tr>
        </table>
    </main>
 
</body>
</html>